body{
	font-family: 'Segoe UI Light','Segoe UI',Tahoma,Helvetica,Sans-Serif;
}
h1 {
    font-size: 2.77em;
    line-height: 42px;
    margin-bottom: 20px;
}
h1, h2, h3 {
    color: #68217A;
    font-weight: normal;
}
img.inline{
	display: inline;
}
content.layout{	
	font-size: 20px;
}
.slide{
	border: solid 1px #D2D2D2;
	border-radius:8px;
}

.slide header{
	overflow: hidden;
	text-align: center;
	height: 100px;
}
.slide header img{
	width: 70px;
	float: right;
}
.slide article{
	height: 500px;
	padding: 0 10px;
	overflow: auto;
}
.slide article.chapter{
	min-height: 200px;
	height: auto;
}
.slide footer{
	text-align: center;
	height: 100px;
}
.slide footer img{
	height: 80px;
}
.slide .row{
	width: 100%;
	display: inline-block;
}
.slide .column{
	width: 50%;
	float: left;
}
.slide .center{
	text-align: center;
}
.slide .alignleft{
	text-align: left;
}
header.visualstudio{
	background-image: url("/images/dotnet/header.gif");
	background-color: #68217A;
  background-position: right center;
  background-repeat: no-repeat;
  height: 40%;
}
header.visualstudio h1{
	color: #ffffff;
	margin-left: 15px;
	padding-top: 15px;
	max-width: 40%;
}

img.soldier{
	width: 80%;
}
