


p {
    line-height: 1.3em;
    font-size: 22px;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 46px;
    line-height: 1em;
}
h2 {
    font-size: 28px;
    padding-top: 35px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 23px;
    margin-bottom: 0.4em;
}
h5 {
    font-size: 22px;
}
a, a:link, a:visited {
    color: #1F4F82;
    text-decoration: none;
}
a:hover {
    color: #1F4F82;
    text-decoration: underline;
}
p{
	color: #333333;
}
img.inline{
	display: inline;
}
header.oracle{
	background: #c30000;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MzMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZTAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c30000 0%, #fe0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c30000), color-stop(100%,#fe0000));
	background: -webkit-linear-gradient(top,  #c30000 0%,#fe0000 100%);
	background: -o-linear-gradient(top,  #c30000 0%,#fe0000 100%);
	background: -ms-linear-gradient(top,  #c30000 0%,#fe0000 100%);
	background: linear-gradient(to bottom,  #c30000 0%,#fe0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c30000', endColorstr='#fe0000',GradientType=0 );
	height: 100px;
	color: #ffffff;
}

header.oracle h1{
	font-size: 28px;
	padding-left: 15px;
  padding-top: 35px;
}
.slide footer{
	text-align: center;
	height: 100px;
}
.slide footer img{
	height: 80px;
}



